.nav__wrapper {
  padding: 8px 16px;
  background-color: #111827;
  width: 300px;
  .nav__container {
    .nav__title {
      font-size: 27.13px;
      font-weight: 800;
      display: flex;
      gap: 6px;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      img {
        width: 33.07px;
        height: 26.33px;
      }
      span {
        color: #891cf1;
        background-image: -webkit-linear-gradient(
          0deg,
          #891cf1 24%,
          #1eccff 61%
        );
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
      }
    }
    .nav__menu {
      > div {
        font-size: 14px;
        color: #d1d5db;
        font-weight: 600;
        padding: 16px 28px;
        text-transform: uppercase;
      }
      .nav__list {
        list-style-type: none;
        color: #9ca3af;
        font-weight: 600;
        font-size: 14px;
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 6px;
          padding: 16px 28px;
          cursor: pointer;
          > div {
            display: flex;
            gap: 16px;
            align-items: center;
          }
          &:hover {
            background-color: #374151;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .nav__wrapper {
    position: absolute;
    z-index: 1000;
    height: 100%;
    &.nav__hidden {
      width: 0px;
      overflow-x: hidden;
      padding: 0;
    }
    transition: width 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav__container {
    .nav__title {
      .nav__collapse {
        position: absolute;
        right: -10px;
        background-color: rgb(41, 37, 37);
        border: 1px solid #111111;
        border-radius: 6px;
        padding: 2px;
        font-size: 16px;
      }
    }
  }
}
