.landing__body-wrapper {
  background: url("../assets/landingPage/landingPageBg.png");
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  .landing__body-content {
    background-color: rgba(61, 73, 96, 0.53);
    border-radius: 50%;
    height: 50vw;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 750px;
    min-height: 750px;
    .landing__body-appointment {
      position: absolute;
      right: -40px;
      top: 10vw;
      background-color: rgba(255, 94, 0, 1);
      border-radius: 50%;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 160px;
      height: 160px;
      text-align: center;
      gap: 16px;
      line-height: 20.08px;
      font-size: 14px;
      font-weight: 800;
    }
    .landing__body-circle {
      background-color: rgba(15, 27, 49, 0.7);
      border-radius: 50%;
      height: 40vw;
      width: 40vw;
      min-width: 600px;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      text-align: center;
      color: #ffffff;
      > div {
        &:nth-child(2) {
          font-size: 5vw;
          font-weight: 800;
        }
        > span {
          color: #ff4d00;
        }
      }
      a {
        text-decoration: underline !important;
        color: #ff4d00;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .landing__body-wrapper {
    .landing__body-content {
      .landing__body-appointment {
        right: 30% !important;
      }
    }
  }
}
